*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #cdcdcd;
    background-image: url("/background2.png");

    background-size:cover;
    background-position: center; 
    /* background-repeat: no-repeat;  */
    background-attachment: fixed; 
    
}
header{
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.col{
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 20px;
}
.col h2{
    text-shadow: rgb(65, 62, 62) 1px 3px 10px;
}
.name{
  
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-top: 15px;
    font-size: 30px;
    text-align: center;
    font-family: Georgia;
    height:50px;
}


.name img{
    height: 50px;
    width: 50px;
    margin-left:8px;
    border:2px solid black;
    border-width: 1px;
    /* outline: none; */
    border-radius: 50px;
}
.name img:hover{
    height: 75px;
    width: 75px;
    transition-timing-function:ease-in-out;
    transition-duration: 0.35s;
    transition-delay: 0.1s;
}

.wel{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 500px;
    margin-top: 70px;
    margin-left:450px;
    background-color:transparent;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    

}
.wel h1{
    text-shadow: rgb(65, 62, 62) 1px 3px 10px;
}
.wel h1:hover{
    transition-timing-function: ease-in-out;
    transition-duration: 0.32s;
    transition-delay: 0.1s;
    font-size: 80px;
}
.Next{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    

}
.Next button{
    height: 50px;
    width: 100px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
    outline: none;
    border-radius: 30px;
    background-color: lightgreen;
}
.Next button:hover{
    height: 52px;
    width: 200px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.32s;
    transition-delay: 0.1s;
    font-size: 25px;
    background-color: rgb(54, 230, 54);

}